/*------------------------------------------------------------------
Project:        Edutue
Author:         Crenoveative
URL:            http://crenoveative.com
Created:        18/10/2016
-------------------------------------------------------------------*/


@font-face {
	font-family: 'DroidKufi';
	src: local('☺'), url('../fonts/DroidKufi-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


a.navbar-brand
{
	padding: 6px 0;
}
.main-wrapper
{
    position: relative;
    top: 40px;
	
}
.navbar-nav > li > a,
.navbar-sticky .navbar-nav > li > a
{
	line-height: 103px;
	    font-size: 16px;
		
}
.navbar-header
{
	padding-left: 30px;
}

.main-search-wrapper .input-group .form-control
{
	border-radius:0 4px 4px 0 !important;
}

.btn-primary:hover
{
	background: #3d4e24;
	border-color: #5a7138;
}
#top-header
{
	background: rgb(32, 39, 52);
}
.top-header-widget
{
   /*border-right: 1px solid rgba(164, 138, 63, 0.37);*/
}
#top-header a
{
	color: #fff;
}

.course-item-content p.couse-creation
{
	color: #5a7138;
    font-weight: 900;
}

.course-item-bottom > div
{
	width: 50%;

}
.course-item-bottom > div
{
	float: left;
}
.course-item-bottom > div:not(:last-child)
{
	/*border-left: 1px solid #E5E5E5;*/
	/*border-right: 0;*/
}
.course-item-bottom > div:nth-child(2)
{
	width: 50%;
}
.course-item-bottom > div:nth-child(1)
{
	width: 50%;
}
.course-item-bottom
{
	position: relative;
	margin-top: 21px;
}
.bg-light .course-item
{
	padding-bottom: 0;
    margin-bottom: 21px;
}
.course-item-content h3
{
	font-size: 20px;
}
.navbar-sticky .navbar-nav > li > a:hover, .navbar-sticky .navbar-nav > li > a:focus
{

    color: #5a7138;

}
.nav>li>a:hover, .nav>li>a:focus
{
	background-color: transparent;
}
.footer-logo
{
margin-bottom: 20px;
}

.newsletter-footer .btn-submit
{
	left: 0;
	right: auto;
}

#back-to-top
{
	right: auto;
	left: 30px;

}
#back-to-top a:hover
{
	background-color: rgb(52, 64, 35);
}
.footer-address
{
	text-align: left;
}


ul.secondary-footer-menu li a:hover {
    color: #5a7138;
}

.half-image-content .inner {
    padding: 89px 80px 90px;
	/*padding-left: 0;*/
	
}

.our-vision
{
/*padding: 60px 0 120px;*/

}
.our-vision .nav-tabs>li
{
font-size: 18px;
}
.our-vision h3
{
  /*margin-bottom: 37px !important;*/
    position: relative;
    top: -30px;
}




.footer-logo,
.about-us-footer
{
    position: relative;
    top: -40px;

}

.our-vision .nav-tabs>li.active>a, .our-vision  .nav-tabs>li.active>a:hover, .our-vision .nav-tabs>li.active>a:focus
{
  webkit-box-shadow: 0px 0px 12px -1px rgba(90, 113, 56, 0.62);
    -moz-box-shadow:0px 0px 12px -1px rgba(90, 113, 56, 0.62);
    box-shadow: 0px 0px 12px -1px rgba(90, 113, 56, 0.62);
	    border-bottom-color: transparent;

}
.our-vision .nav-tabs
{
	border-bottom:0;

}
.our-vision  .nav-tabs>li>a:hover
{
	border: none;
}
.our-vision .tab-content
{
  padding:34px 0;
  color:#5a7138; 
  width: 70%;
  /*margin: auto;*/
}





.our-vision  .nav-tabs>li>a:hover
{
border-color: transparent;
}
.half-image-content .inner:before
{

}

hr.divider-vision
{
    position: relative;
    top: -24px;
    width: 50%;
    background: rgba(90, 113, 56, 0.49);
    height: 2px;
}


.navbar-brand
{
	float: right;

}
.slicknav_btn
{
	right: auto;
	left: 20px;
}




.left-logo
{
float: left;
position: relative;
top: 20px;
}


.dropdown-menu
{
	text-align: right;
}

/********REGISTER-LOGIN********************/
input[type='radio'] + label, input[type='checkbox'] + label
{
	  padding: 4px 18px 3px 0px;

}

input[type='radio'] + label:before, input[type='checkbox'] + label:before
{
	left: auto;
	right: 0;
}



@media (min-width:1000px )
{
	.our-vision 
	{
		height: 490px;
	}
	.vision-img
	{
		height: 400px;
		    margin-bottom: 30px;
	}
}


.social-footer
{
	text-align: center;
}


.social-footer a
{
	font-size: 33px;
	display: inline-block;


}











@media only screen and (max-width: 991px) {
 .vision-img
 {
	 height: 220px;
	 margin-top: 10px;


 }
 .half-image-content .inner
 {
	 text-align: center;
	 padding-top:29px;

 }
 .our-vision .tab-content
 {
	 width: 100%;
 }


.our-vision ul.nav-tabs
{
	text-align: center;

}

.our-vision .nav-tabs>li
 {
	 display: inline-block;
	 float: none;


 }
 .main-wrapper {
    position: relative;
    top: 0px;
}
.site_logo
{
    height: 40px;
    width: 65px;
}
.footer-address
{
text-align: center;

}
.social-footer
{
	text-align: center;


}
.social-footer a
{
	float: none;
	display: inline-block;
	
}
hr.divider-vision
{
	margin: auto;
}

.left-logo
{
	display: none;
}


.featured-sm-item .icon
{
    position: relative;
    top: -10px;
}




}



@media screen and (max-width: 768px)
{
.carousel-indicators
{
	bottom: 0;

}

}

@media screen and (max-width: 480px)
{
.main-search-wrapper h2
{
font-size: 17px;
}
.main-search-wrapper .lead
{
	font-size: 12px;
}
.carousel-indicators
{
	display: none;
}
}


.breadcrumb-wrapper h1.page-title
{
	letter-spacing: 0;
}







/*
================================================
8. Callouts
================================================
*/
.callouts-wrapper {
	padding: 75px 0 60px;
	width: 100%;

}
.callouts-wrapper h2 {
	color: #2d2e2e;
	font-weight: 600;
	margin: 0 0 10px;
	padding: 0;
	text-align: center;
	position: relative;
}
.callouts-wrapper p {
	color: #000000;
	font-weight: 400;
	margin-bottom: 24px;
}
.callouts-wrapper h2 span {
	font-weight: 600;
}
.callouts-wrapper .callouts {
	text-align: center;
	background-color: #fff;
	float: left;
	padding: 20px 0;
	width: 100%;
	align-items: stretch;
	display: flex;
	flex-direction: column;
}
.callouts-box:before, .callouts-box:after {
	border: 1px solid #e5e7e9;
	content: "";
	height: calc(100% - 35px);
	pointer-events: none;
	position: absolute;
	transition: all 0.33s ease 0s;
	width: calc(100% - 35px);
}
.callouts-box.hover::before, .callouts-box.hover::after, .callouts-box:hover::before, .callouts-box:hover::after {
	height: 100%;
	width: 100%;
}
.callouts-box:before {
	border-width: 1px 0 0 1px;
	left: 0;
	top: 0;
}
.callouts-box:after {
	border-width: 0 1px 1px 0;
	bottom: 0;
	right: 0;
}
.callouts-box {
	align-items: center;
	cursor: default;
	display: inline-flex;
	flex-flow: column nowrap;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	padding: 57px 40px 61px;
	position: relative;
	text-align: center;
	width: 100%;
}
.callouts-box .divider {
	margin: 13px auto;
	max-width: 100%;
	transition: all 0.33s ease 0s;
	height: 2px;
	width: 49px;
}
.callouts-box .box-header, .callouts-box .box-body {
	filter: blur(0px);
	position: relative;
	transition: all 0.33s ease 0s;
	will-change: transform;
}
.callouts-box:hover .box-body {
	transform: translateY(9px);
}
.callouts-box:hover .box-header, .callouts-box:hover .icon-box {
	transform: translateY(-9px);
}
.callouts-box.hover .divider, .callouts-box:hover .divider {
	width: 168px;
}
.callouts-wrapper .callouts .callouts-box .icon-box {
	font-size: 30px;
	transition: all 0.33s ease 0s;
}
.callouts-wrapper .callouts p {
	font-size: 14px;
	line-height: 23px;
	margin: 0;
	padding: 0;
	color: #999;
}
.callouts-wrapper .callouts h3 {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	color: #272727;
	margin: 10px 0 0;
	position: relative;
}


/*
================================================
11. Satisfied-wrapper
================================================
*/
.satisfied-wrapper:before {
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0.9;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}
.satisfied-wrapper {
	padding: 56px 0 74px;
	width: 100%;
	float: left;
	z-index: 9;
	position: relative;
	text-align: center;
	background-image: url(../images/count-number-bg.png);
	background-repeat: repeat;
}
.satisfied-wrapper h2::after {
	background-color: #fff;
	content: "";
	display: block;
	height: 1px;
	margin: 10px auto 15px;
	width: 150px;
}
.satisfied-wrapper h2 {
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
	position: relative;
	font-weight: bold;
}
.satisfied-wrapper h2 span {
	font-weight: 600;
	color: #272727;
}
.satisfied-wrapper .counter .number {
	color: #fff;
	font-size: 55px;
	font-weight: 700;
	margin: 0 auto;
	padding: 0;
}
.satisfied-wrapper .counter p::before {
	content: "";
	display: block;
	height: 3px;
	margin: 5px auto 15px;
	width: 30px;
}
.satisfied-wrapper .counter p {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	position: relative;
}


.bootstarp-accordion .panel-heading a:before
{
	right: auto;
	left: 0;
}





.bootstarp-accordion .panel-heading h4.panel-title a:hover,
.bootstarp-accordion .panel-heading.active a:before
{
	color: #5a7138;
}
.bootstarp-accordion .panel-heading.active h4.panel-title
{
	border-bottom: 1px solid #5a7138;
}


 .faq-page .mb-30
 {
	 margin-bottom: 50px !important;
 }
 .faq-wrapper .panel
 {
	 margin:0 0 20px;
 }

.promo-box-bg-img
 {
	     background-size: cover;
    background-position: 34% 21%;
 }




 /****aboutuspage****/


 /*
===========================================
Partner logo
===========================================
*/
#partners{
    padding: 50px 0 35px;
	 background-color: #efefef


}
.partner-logo {
    padding: 0 40px;
	direction: ltr;
}
.partner-logo.owl-theme .owl-controls .owl-buttons div {
    border: 2px solid #fff;
    color: #fff;
    opacity: 0;
}
.partner-logo.owl-theme .owl-controls .owl-buttons .owl-next {
    right: -30px;
}
.partner-logo.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -30px;
}
.partner-logo.owl-theme:hover .owl-controls .owl-buttons .owl-next {
   right: 0;
    opacity: 1;
}
.partner-logo.owl-theme:hover .owl-controls .owl-buttons .owl-prev {
   left: 0;
    opacity: 1;
}

